#parentuserformcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#parentaddnewuserform{
    width: 65%;
    margin-top: 1em;
    color: #2F2E41;
}
#parentadduserformgroup{
    display: flex;
    flex-direction: column;
}
#parentadduserformgroup input{
    width: 100%;
    border: 1.5px solid gray;
    border-radius: 1em;
    font-size: 15px;
    padding: 0.7em 1.4em;
    margin-bottom: 1em;  
    color: #2F2E41;  
}
#parentadduserformgroup select{
    width: 100%;
    border: 1.5px solid gray;
    border-radius: 1em;
    font-size: 15px;
    padding: 0.7em 1.4em;
    margin-bottom: 1em;
    color: #2F2E41;
}
#parentadduser_submit_btn{
    background: #FF5D00;
    cursor: pointer;
    width: 25.5em;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 1.1em 2em;
    color: white;
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#parentadduser_submit_btn:hover{
    background: #3F3D56;
}