#parentuserformcontainermain{
    display: flex;
    background: rgba(63,116,170,0.05);
    /* min-height: 100vh; */
}

#parentuserformcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
#parentaddnewuserform{
    width: 65%;
    margin-top: 3em;
    color: #2F2E41;
    box-shadow: 1px 5px 30px -8px rgb(63,116,170); 
    padding: 1.5em;
    margin-bottom: 5em;
    background: white;
}
#parentaddnewuserform a{
    text-decoration: none;
    color: rgb(63,116,170);
}
#parentaddnewuserform a:hover{
    color: #FF5D00;
}
#parentadduserformgroup{
    display: flex;
    flex-direction: column;
}
#parentadduserformgroup input{
    width: 100%;
    border: 1.5px solid gray;
    border-radius: 1em;
    font-size: 15px;
    padding: 0.7em 1.4em;
    margin-bottom: 1em;  
    color: #2F2E41;  
}
#parentadduserformgroup select{
    width: 100%;
    border: 1.5px solid gray;
    border-radius: 1em;
    font-size: 15px;
    padding: 0.7em 1.4em;
    margin-bottom: 1em;
    color: #2F2E41;
}
#parentadduser_submit_btn{
    background: #FF5D00;
    cursor: pointer;
    width: 25.5em;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 1.1em 2em;
    color: white;
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#parentadduser_submit_btn:hover{
    background: #3F3D56;
}