.first-section{
    min-height: 80vh;
    /* text-align: center;    */
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));  
}
.first-section-inside{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-section-image{
display: inline-block;
max-width: 650px;
height: auto;
width: auto;
max-height:650px ;
padding-top: 3em;
}
.first-section-content{
display: inline-block;
max-width: 500px;
margin-right: 2em;
height: auto;
max-height:500px ;
}
.first-section-contents{
width: 32em;
height: 32em;
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
padding: 2em;

}
.first-section h2,p {
    padding-bottom: 1em;
}
.first-section h2{
    font-size: 40px;
    color: #4D4D4D;
}
.first-section p{
    font-size: 20px;
    color: #4D4D4D;
}
.first-section-btn{
background: #FF5D00;
border-radius: 2em;
padding: 1.8em 2.8em;
font-weight: bold;
font-size: 15px;
color: white;
height: 1em;
max-width: 15em;
margin-top: 1em;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center; 
}
.first-section-btn a{
    text-decoration: none;
    color: white;
}
*{
    font-family: 'Inter', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}
.services{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    min-height: 100vh;
    
}
.services h1{
    padding-bottom: 0.4em;
    margin-top: 2em;
    font-size: 38px;
    color: #4D4D4D;
}
.services h5{
    font-size: 18px;
    color: #4D4D4D;
    margin-top: 0.4em;
}
.services p{  
    color: #4D4D4D;
}
.services-div{
    padding: 1em;
    max-width: 900px; 
    margin-top: 1.5em;
     
}
#services-line{
    height: 0.1em;
    width: 3em;
    background: #4D4D4D;
    border-radius: 0.1em;
    margin-bottom: 1em;
}
.services-div-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 1em;
}
.services-btn{
background: #FF5D00;
border-radius: 2em;
padding: 1em 1.5em;
height: 3.7em;
width: 13em;
font-size: 15px;
color: white;
font-weight: bold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center; 
margin-top: 1em;
margin-bottom: 1.5em;
}

/* Features section */

.features{
    text-align: center; 
    min-height: 90vh;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));  
}
.features-inside{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-image{
display: inline-block;
max-width: 680px;
height: auto;
width: auto;
max-height:680px ;
}
.features-content{
display: inline-block;
max-width: 500px;
height: auto;
max-height:500px ;
}
.features-contents{
color: #4D4D4D;
width: 32em;
height: 32em;
display: flex;
flex-direction: column;
text-align: left;
padding: 2.5em;
margin-left: 1em;
}
.features-contents h1,p {
    padding-bottom: 1em;
}
.features-contents h1{
    font-size: 38px;
}
.features-contents p{
    font-size: 20px;
}
#features-line{
    margin-top: -1.5em;
    height: 0.2em;
    width: 3em;
    background:#4D4D4D;
    border-radius: 0.1em;
    margin-bottom: 3em;
}
.features-btn{
background: #FF5D00;
border-radius: 2em;
padding: 1.9em 1.9em;
font-weight: bold;
font-size: 15px;
color: white;
height: 3em;
width: 13em;
margin-top: 2.5em;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center; 
}


/* Mobile APP Section  */
.Mobile-app{ 
    min-height: 85vh;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
}
.Mobile-app-inside{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Mobile-app .orange{
    color: #FF5D00;
    font-style: italic;
}
.Mobile-app-content{
display: inline-block;
max-width: 650px;
height: auto;
max-height:650px ;
}
.Mobile-app-contents{
max-width: 40.625em;
max-height: 40.625em;
color: #4D4D4D;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2em;
}
.Mobile-app-contents h1,p {
    padding-bottom: 1em;
}
.Mobile-app-contents h1{
    font-size: 38px;
}
.Mobile-app-contents p{
    font-size: 20px;
    margin-bottom: 2em ;
}
.Mobile-App-btn{
background:#FF5D00;
border-radius: 2em;
padding: 1.7em 1.9em;
color: white;
font-weight: bold;
font-size: 15px;
height: 3em;
width: 13em;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center; 
}
.Mobile-app-image{
display: inline-block;
max-width: 550px;
height: auto;
width: auto;
max-height:550px ;
}
#mobile-app-images{
    height: 3em;
   min-width: 10em;
    display: flex;
    margin-bottom: 2.5em;
}
#mobile-app-images-two{
    margin-left: 1em;
    height: 3em;
    width: auto;
}
#mobile-app-images-one{
    height: 3em;
    width: auto;
}

/* Testimonials section */

.Testimonials{
     text-align: center; 
    min-height: 80vh;
     display: flex;
     color: white;
    justify-content: center;
    align-items: center;  
}
.Testimonials-box{
  max-width: 65em;
   min-height:25em;
    min-width: 20em;
    border-radius: 1.2em;
    background: linear-gradient(to top right,#5A98F2,#01478F);
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Testimonials-box img{
   max-width: 10.5em;
    height: 10.5em;
     border-radius: 100%;
    border: 0.4em solid #f1f2f8;
}
.Testimonials-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Testimonials-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Testimonials-heading{
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.Testimonials-heading h1{
    margin-bottom: 0.5em;
}
.Testimonials-inside{
    display: flex;    
}
.Testimonials-line{
    width: 2.6em;
    height: 0.25em;
    border-radius: 1.5em;
    background: white;
    margin-bottom: 1em;
}

/* Footer section */

*, *:before, *:after {
box-sizing: border-box;
}

/* body {
font-family: poppins;
margin: 0;
display: grid;
font-size: 14px;
} */
.reflex-footer {
display: flex;
flex-flow: row wrap;
padding: 60px;
color: #fff;
background: linear-gradient(to top right,#5A98F2,#01478F);
}

.reflex-footer > * {
flex:  1 100%;
}

.reflex-l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}

.reflex-footer h2 {
font-weight: bold;
font-size: 18px;
margin-bottom: 1.5em;
}
.reflex-footer h1 {
    font-size: 22px ;
    margin-bottom: 1.5em;
}

.reflex-footer ul {
list-style: none;
padding-left: 0;
}

.reflex-footer li {
line-height: 2em;
}

.reflex-footer a {
text-decoration: none;
}

.reflex-r-footer {
display: flex;
flex-flow: row wrap;
}

.reflex-r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.reflex-box a {
color: white;
}

.reflex-b-footer {
color: white;
padding-top: 25px;
}
.reflex-b-footer p{
    font-weight: lighter;
}
.reflex-sf-footer img{
    width: 1.4em;
    height: auto;
    margin-left: 0.3em;
}
  /* .reflex-sf-footer{ */
    
    /* text-align: center;
    align-self: center; */
/* }  */
 /* .reflex-sf-footer-images{
    display: inline-block;
}  */
.reflex-l-footer p {
/* padding-right: 20%; */
color: white;
letter-spacing: 1;
}  


@media screen and (min-width: 600px) {
.reflex-r-footer > * {
flex: 1;
}

.reflex-features {
flex-grow: 1;
}

.reflex-l-footer {
flex: 1 0px;
}

.reflex-r-footer {
flex: 2 0px;
}
}
