/* Footer section */

*, *:before, *:after {
box-sizing: border-box;
}

/* body {
font-family: poppins;
margin: 0;
display: grid;
font-size: 14px;
} */
.reflex-footer {
display: flex;
flex-flow: row wrap;
padding: 60px;
color: #fff;
background: linear-gradient(to top right,#5A98F2,#01478F);
}

.reflex-footer > * {
flex:  1 100%;
}

.reflex-l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}

.reflex-footer h2 {
font-weight: bold;
font-size: 18px;
margin-bottom: 1.5em;
}
.reflex-footer h1 {
    font-size: 22px ;
    margin-bottom: 1.5em;
}

.reflex-footer ul {
list-style: none;
padding-left: 0;
}

.reflex-footer li {
line-height: 2em;
}

.reflex-footer a {
text-decoration: none;
}

.reflex-r-footer {
display: flex;
flex-flow: row wrap;
}

.reflex-r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.reflex-box a {
color: white;
}

.reflex-b-footer {
color: white;
padding-top: 25px;
}
.reflex-b-footer p{
    font-weight: lighter;
}
.reflex-sf-footer img{
    width: 1.4em;
    height: auto;
    margin-left: 0.3em;
}
  /* .reflex-sf-footer{ */
    
    /* text-align: center;
    align-self: center; */
/* }  */
 /* .reflex-sf-footer-images{
    display: inline-block;
}  */
.reflex-l-footer p {
/* padding-right: 20%; */
color: white;
letter-spacing: 1;
}  


@media screen and (min-width: 600px) {
.reflex-r-footer > * {
flex: 1;
}

.reflex-features {
flex-grow: 1;
}

.reflex-l-footer {
flex: 1 0px;
}

.reflex-r-footer {
flex: 2 0px;
}
}
