#addnewuserformcontainerwithsidebar{
    display: flex;
    background: rgba(63,116,170,0.05);
    /* min-height: 100vh; */

}
#addnewuserformcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgba(114, 117, 121, 0.05); */
   
}
#addnewuserform{
    width: 65%;
    margin-top: 3em;
    color: #2F2E41;
     box-shadow: 1px 5px 25px -8px rgb(63,116,170); 
     padding: 1.5em;
     margin-bottom: 4em;
     background: white;
}

#adduserformgroup{
    display: flex;
    flex-direction: column;
}
#adduserformgroup input{
    width: 100%;
    border: 1.5px solid gray;
    border-radius: 1em;
    font-size: 15px;
    padding: 0.7em 1.4em;
    margin-bottom: 1em;  
    color: #2F2E41;  
}
#adduserformgroup select{
    width: 100%;
    border: 1.5px solid gray;
    border-radius: 1em;
    font-size: 15px;
    padding: 0.7em 1.4em;
    margin-bottom: 1em;
    color: #2F2E41;
}
#adduserageandclass{
    display: flex;
}
#adduseraddressandcountry{
    display: flex;
}
.adduserformgroupage{
    margin-right: 2em;
}
.adduserformgroupaddress{
    margin-right: 2em;
}
#adduser_submit_btn{
    background: #FF5D00;
    cursor: pointer;
    width: 25.5em;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 1.1em 2em;
    color: white;
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#adduser_submit_btn:hover{
    background: #3F3D56;
}